pandas>=2.0.0
numpy>=1.24.0
# Pin scikit-learn to a version compatible with saved artifacts
scikit-learn==1.3.2
xgboost>=2.0.0
joblib>=1.3.0
streamlit>=1.32.0
seaborn>=0.13.0
matplotlib>=3.7.0
imbalanced-learn>=0.12.0
lightgbm>=4.0.0

